<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, height=device-height, width=device-width" />

		<link type="text/css" rel="stylesheet" href="style/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<script type="text/javascript" src="cordova.js"></script>
		<script type="text/javascript" src="libs/angular.js"></script>
		<script type="text/javascript" src="libs/PushipNotification.js"></script>
		<script type="text/javascript" src="libs/PushNotification.js"></script>
		
		<script type="text/javascript" src="controllers/main.js"></script>

		<script type="text/javascript">
			document.addEventListener("deviceready", onDeviceReady, false);
			function onNotificationGCM (e) {
				switch( e.event ) {
			    	case 'registered':
			            if ( e.regid.length > 0 )
			            {
			                console.log("registration id = " + e.regid);
			                //alert('registration id = '+e.regid);
			            }
			        break;

			        case 'message':
			          // this is the actual push notification. its format depends on the data model from the push server
			          console.log('message = '+e.message+' msgcnt = '+e.msgcnt);
			          //self.getMatches('http://www.en.beinsports.net/tv-guide');
			        break;

			        case 'error':
			          console.log('GCM error = '+e.msg);
			        break;

			        default:
			          console.log('An unknown GCM event has occurred');
			          break;
			    }
			};

			function onDeviceReady() {
				angular.element(document).ready(function() {
					angular.bootstrap(document, ['app']);
				});
				/*Puship.PushipAppId = puship_id; // I.E.: puship_id = "h1mCVGaP9dtGnwG"

				if (Puship.Common.GetCurrentOs()==Puship.OS.ANDROID){
					var GCMCode = your_sender_id; // This is the senderID provided by Google. I.E.: "28654934133"
					Puship.GCM.Register(GCMCode,
					{
						successCallback: function (pushipresult){
							navigator.notification.alert("device registered with DeviceId:" + pushipresult.DeviceId);
						},
						failCallback: function (pushipresult){
							navigator.notification.alert("error during registration: "+ JSON.stringify(pushipresult));
						}
					});
				} else if (Puship.Common.GetCurrentOs()==Puship.OS.IOS){
					Puship.APNS.Register(
					{
						successCallback: function (pushipresult){
							navigator.notification.alert("device registered with DeviceId:" + pushipresult.DeviceId);
						},
						failCallback: function (pushipresult){
							navigator.notification.alert("error during registration: "+ JSON.stringify(pushipresult));
						}
					});
				} else if (Puship.Common.GetCurrentOs()==Puship.OS.WP){
					Puship.WP.Register(
					{
						successCallback: function (pushipresult){
							navigator.notification.alert("device registered with DeviceId:" + pushipresult.DeviceId);
						},
						failCallback: function (pushipresult){
							navigator.notification.alert("error during registration: "+ JSON.stringify(pushipresult));
						}
					});
				} else {
					Console.log("Not supported platform");
				}

				Puship.Common.OnPushReceived(function(event) {
					Console.log("Push received: " + event.notification.Alert);
				});
				*/
			}

		</script>
	</head>
	<body ng-controller="Main">
		<div id="view" ng-init="events.getMatches();">
			<div ng-repeat="item in json">
				<table style="width: 100%">
					<tr>
						<td>
							<b><p class="pcenter">{{item.event}}</p></b>
							<p class="pcenter">{{item.notes}}</p>
						</td>
					</tr>

					<tr>
						<td><p class="pcenter"><b>bein {{item.chanal}}: </b>{{item.timestamp | date:"hh:mma"}} - {{item.endDate | date:"hh:mma"}}</p></td>
					</tr>

					<tr>
						<td>
							<button class="btn btn-danger btn-block" ng-click='events.removeFromCalendar($index)'>REMOVE</button>
						</td>
					</tr>
				</table>
				<br>
		    </div>
		</div>
	</body>
</html>